<style type="text/css">
     body {
          padding-top: 20px;
          padding-bottom: 40px;         
         }
         .container-narrow {
                margin: 0 auto;
                max-width: 700px; 
         }
         .container-narrow > hr {
                margin: 30px 0; 
         }
        
   </style>         
   <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
   </head>
    <body>
   <div class="container-narrow">
     <h3>The greatest example project there ever was.</h3>
     <p>We started with a dream: to deliver the most exciting deliverable the world had ever seen. Through countless hours of study, hard work, and dedication we have created what will revolutionize the industry and stay on the tongues of thought leaders and major decision makers for years to come. With this paradigm shift we offer even more efficiency, more scalability, and stronger user engagement. We give you Crispy Chicken Sandwich.</p>
   </div>
