<div class="container">
  <h3>Phone</h3>
  <p>(415)867-5309</p>

  <h3>Email</h3>
  <p>somebodyimportant@crispychicken.com</p>

  <h3>Location</h3>
  <p>2 Ball Lane, Suite 1</p>
  <p>San Francisco, CA 94111</p>
</div>
