<p>Alright, do you know where you want to go, or do you need some suggestions?</p>
<p>
  <div class="well well-large3">
    <a href="#modal1" role="button" class="btn" data-toggle="modal">I know what I'm doing!</a>        
  </div>
<!--
<div class="well well-large">
<a href="#modal2" role="button" class="btn" data-toggle="modal">I want suggestions!</a>
</div>
-->
</p>

<!--stuff for modal triggered by buttons-->
<!--modal1, for precise locations-->
<div id="modal1" class="modal hide fade" tabindex="-1" role="input" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Please enter the addresses of the places you want to go:</h3>
  </div>
  <div class="modal-body">
    <%= form_for @event do |f| %>
    <div class="form-group">
      <label for="venueName">Venue Name</label>
      <input type="text" class="form-control" id="venueName" placeholder="Example's Bar and Grill">
      <label for="venueAddress">Address (Number, Street, City, State, ZIP)</label>
      <input type="text" class="form-control" id="venueAddress" placeholder="311 Cherry Ave. Long Beach, CA 90807">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="4"></textarea>
      <%= hidden_field(:event, :event_details) %>
      <%= hidden_field(:event, :user_id, :value => session[:user_id]) %>
    </div> <!--form-group-->
    <hr>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <a onclick="javascript:addData()"><span class="btn btn-primary">Add Venue</span></a>
      <button class="btn btn-primary" type="submit">Make the Map!</button>
    </div> <!--modal footer-->
    <% end %>
  </div>
<!--modal2, for users requiring recommendations-->
<!--
<div id="modal2" class="modal hide fade" tabindex="-1" role="input" aria-labelledby="modal1Label" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
<h3>What kind of places are you looking for?</h3>
</div>
<div class="modal-body">
<p>input forms</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
<button class="btn btn-primary">Continue</button>
</div>
</div>
-->
<script type="text/javascript">
var data = new Array();
var i = 0;
function addData() {
  var tempArray;
  tempArray = {
    name: $("#venueName").val(),
    address: $("#venueAddress").val(),
    description: $("#description").val()
  }

  data[i] = JSON.stringify(tempArray);
  i++;

  $('#event_event_details').val(data);
}
</script>
