.google-map-canvas,
.google-map-canvas * { width:100%; height:500px; }

#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
}

ul, ol {
	list-style: none;
}
.markerSize {
	width: 32px;
	height: 32px;
}

.mapSidebar {
	height: 450px; 
	max-height: 450px; 
	overflow: auto; 
	margin-left: -20px;
}

.mapEventName {
	font-size: medium;
	color: #450104;
	font-weight: bold;
}

.mapEventLocation {
	margin-left: 11px;
	font-size: small;
}

.mapEditDelete {
	margin-left: 11px;
	font-size: inherit;
}

.mapSection {
	margin-left: 0;
	padding-left: 0;
	text-align: top; 
	width: 800px; 
	height: 500px;
}

.mapDIV {
	width: 100%; 
	height: 100%; 
	border: 2px solid lightgrey;
}

.infoboxStyle {
	position: relative; 
	color: white;
	opacity: 0.8;
	font-size: small;
	border: 1px solid #19192B; 
	border-radius:  5px;
	margin-top: 8px; 
	padding: 5px; 
	z-index: -1;

	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.infoboxStyle:after, .infoboxStyle:before { 
	bottom: 100%; 
	left: 46.4%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none;
	z-index: -1;
} 

.infoboxStyle:after { 
	border-color: rgba(96, 108, 136, 0); 
	border-bottom-color: #45484d; 
	border-width: 10px; 
	margin-left: -10px; 
} 

.infoboxStyle:before { 
	border-color: rgba(25, 25, 43, 0); 
	border-bottom-color: #19192B; 
	border-width: 11px; 
	margin-left: -11px; 
}

ul, ol {
	list-style: none;
}
.markerSize {
	width: 32px;
	height: 32px;
}

.mapSidebar {
	height: 450px; 
	max-height: 450px; 
	overflow: auto; 
	margin-left: -20px;
}

.mapEventName {
	font-size: medium;
	color: #450104;
	font-weight: bold;
}

.mapEventLocation {
	margin-left: 11px;
	font-size: small;
}

.mapEditDelete {
	margin-left: 11px;
	font-size: inherit;
}

.mapSection {
	margin-left: 0;
	padding-left: 0;
	text-align: top; 
	width: 800px; 
	height: 500px;
}

.mapDIV {
	width: 100%; 
	height: 100%; 
	border: 2px solid lightgrey;
}